#wrapper {
	width:361px;
	margin:0 auto;
  }


.callbacks_container {
  position: relative;
  width: 100%;
  height:150px;
  }

  .banner-slide {
  position: relative;
  width: 100%;
  height:150px;
  overflow: hidden;
  }

   .banner-slide ul{
    margin: 0px;
   }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  height:auto;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height:150px;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }


.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 62%;
  left: 5px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 79px;
  width: 27px;
  background: transparent url("../images/themes.png") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 10px;
  top:90px;
  }


.flex-next{
  left: auto;
  background-position: right top;
  right: 10px;
  top:90px;
  }

.banner-slide ul li{
  margin: 0px;
  left: 0px;
  height: 150px;
  top: 0px;

}

.banner-slide ul li{
  list-style: none;
}




.banner-slide .flex-prev {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 62%;
  left: 5px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 79px;
  width: 27px;
  background: transparent url("../images/themes.png") no-repeat left top;
  margin-top: -45px;
  }

.banner-slide .flex-prev:active {
  opacity: 1.0;
  }

.banner-slide .flex-next{
 position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 62%;
  right: 5px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 79px;
  width: 27px;
  background: transparent url("../images/themes.png") no-repeat right top;
  margin-top: -45px;
  }


.flex-viewport ul li {
  list-style: none;
  background: none;
  padding: 0px;
  overflow: hidden;
}

.slide-outer {  width:79%;  height:134px; overflow: hidden; }

.before-wrap { height:130px; overflow:hidden; width:45%; float:left; border-radius: 324px; border:3px solid #000; box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 7px rgba(224, 222, 223, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1); cursor: pointer;  margin: 0 15px 0 0;}

.before-wrap img { height:auto; width:100%; text-align:center;  }


.after-wrap { height:130px; overflow:hidden; width:45%; float:left; border-radius: 324px; border:3px solid #000; box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 7px rgba(224, 222, 223, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1); cursor: pointer;}
.after-wrap img { height:auto; width:100%; text-align:center;  }



.inner-slide-outer {height:300px; margin:auto; width:88%; }	
	
.before-side-wrap { height:120px; overflow:hidden; width:120px; float:left; border-radius: 324px; border:3px solid #000; box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 7px rgba(224, 222, 223, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1); cursor: pointer; }

.before-side-wrap img { height:auto; width:120px;  }


.after-side-wrap { height:120px; overflow:hidden; width:120px; float:right; border-radius: 324px; border:3px solid #000; box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 7px rgba(224, 222, 223, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1); cursor: pointer;}

.after-side-wrap img { height:auto; width:120px;  }


.callback li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callback img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }



.callback_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 40%;
  left: 0px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 24px;
  width: 13px;
  background: transparent url("../images/themes.png") no-repeat left top;
  background-size:26px  24px;
  margin-top: -5px;
  }

.callback_nav:active {
  opacity: 1.0;
  }

.callback_nav.next {
  left: auto;
  background-position: right top;
  right: 0px;

  }

.callback {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  height:145px;
  }




@media screen and (min-width:641px) and (max-width:768px) {
	
.slide-outer {height:330px; width:90%; }	
.before-wrap                                { width:40%; margin-top:2px;}	
.after-wrap                                { width:40%;}	
.callbacks_nav                            {left:-17px; top:60%;}
.callbacks_nav.next                      { right:22px;}
}



@media screen and (min-width:320px) and (max-width:640px) {
.home-before-after{ width:100%; }	
.banner-slide  { height: 114px; }
.flex-viewport ul li {  height: auto;
    width: 87%;}
.slide-outer {height:auto; margin:0 auto; width:88%; }	
.slide-outer  { width: 69%; margin: 0px;}	


.before-wrap { height:100px; overflow:hidden; width:95px; float:left; border-radius: 324px; border:3px solid #000; box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 7px rgba(224, 222, 223, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1); cursor: pointer; }

.before-wrap img { height:auto; width:99px; box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 7px rgba(224, 222, 223, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1); }


.after-wrap { height:100px; overflow:hidden; width:95px; float:right; border-radius: 324px; border:3px solid #000; box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 7px rgba(224, 222, 223, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1); cursor: pointer;}
.after-wrap img { height:auto; width:99px;  box-shadow: 0 0 0 0 rgba(200, 95, 66, 0.4) inset, 0 0 0 7px rgba(224, 222, 223, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.1);}

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 42%;
  left: 0px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 24px;
  width: 13px;
  background: transparent url("../images/themes.png") no-repeat left top;
  background-size:26px  24px;
  margin-top: -5px;
  }

.banner-slide .flex-prev{
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 42%;
  left: 0px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 24px;
  width: 13px;
  background: transparent url("../images/themes.png") no-repeat left top;
  background-size:26px  24px;
  margin-top: -5px;
  }


.banner-slide .flex-next{
 position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 42%;
  right: 30px;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 24px;
  width:13px;
  background: transparent url("../images/themes.png") no-repeat right top;
    background-size:26px  24px;
  margin-top: -5px;
  }


.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0px;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  height:145px;
  }

.callbacks li{ width:87%; height:auto;}	

.callbacks_nav.next{ top:47px; right:45px;}

.callbacks_container { width:90%; margin:0 0 0 20px; height:auto;}
.callbacks_nav { left:-10px;}
.callbacks { height:auto;}
.home-before-after{ height:auto;}



 }