



.jcarousel-skin-tango.jcarousel-container {
	margin:0; padding:0px; height:325px; width:auto; float:left; }
	
/*.jcarousel-skin-tango.jcarousel-container ul li img{
	margin-right:5px;
	height:372px;
	width:448px;
	float:left !important;
}*/
	
.jcarousel-skin-tango.jcarousel-container-horizontal {
    width:100%!important;
	float:left;
	padding:0px;
	margin:0;
	


	
}


/*scrolling width*/
.jcarousel-skin-tango .jcarousel-clip-horizontal {
     width:99%!important;
	float:left; 
	margin:0px;
	padding:0px;

	
}

.jcarousel-skin-tango .jcarousel-item {
   
	padding:0px;
    margin:0px;
	float:left; height:200px;

  
}
#mycarousel{
/*	width:400px;*/
	overflow-y:hidden;
	}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin: 0px !important;
	padding:32px 60px 35px 30px !important;
	background-image:none;
	float:left;

	

}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin: 0px; 

}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    color: #000;

}

 /* -------- Scroll Css ---------- */


.scroll-main-bg {
	width:930px;
	height:300px; 
	position:relative;
	margin:50px 0 0 35px ;

 
	
}

.scroll-left { 
	float:left;
	padding-top:0px;
	padding-right:0px;

	
}

.scroll-left-butn {
	width:30px;
	height:48px;
	padding:0px;
	margin:0px;
	float:left;
	top:0;
	left:-30px;
	position:absolute;
	background:url(../images/blog-arrow.png) no-repeat center #FFF;
}

.scroll-right-butn {
	width:30px;
	height:48px;
	padding:0px;
	margin:0px;
	float:left;
	position:absolute;
	right:0px;
	top:6px;
	left:880px;
	z-index:100;
    background:url(../images/blog-arrow-1.png) no-repeat center #FFF;
}

.scroll-right { 
	padding-top:14px;
	float:right; 
	
}

.scroll-img {
	width:930px;
	padding:0px;
	float:left;
	margin:0px 0 0 8px ;

    
}

.scroll-img img{

	padding:0px;
	margin:0px;
}

.scroll-img ul {
	margin:0px;
	padding:0px;
	
	float:left; 
	


	
}

.scroll-img li {
    list-style-type:none;
	margin:0px;
	float:left;
	padding:0px;
	width:368px;
	
   
}
.blog-post
{
	width:360px !important;
	margin:0 20px 0 0;
    padding:0px ;
	float:left;
	height:250px; 

	
}
/* -------- Scroll Css ---------- */
	
	
@media screen and (min-width:641px) and (max-width:768px) { 

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:675px !important;
}
.scroll-left-butn { left:0px; z-index:999;  top:-10px; }
.scroll-right-butn{ left:710px; top:-8px;}
.blog-post
{
	width:277px !important;
	height:302px !important;
	margin:0px;
    padding:0;
	float:left;


	
}

.jcarousel-skin-tango.jcarousel-container {
	margin:0 auto; padding:0px; height:420px; float:left;  }


.scroll-main-bg { margin:20px 0 0 0;}

}


@media screen and (min-width:320px) and (max-width:640px) { 
.blog-post
{
	width:260px !important;
	height:160px !important;
	margin:0 auto;
    padding:0 !important;
	float:none;
	


	
}

.scroll-left-butn { left:-30px; z-index:999;  top:-10px; }
.scroll-right-butn{ left:245px; top:-8px;}

.jcarousel-skin-tango .jcarousel-item-horizontal{ padding:20px 5px  !important; height:200px;}
.jcarousel-skin-tango.jcarousel-container {
	margin:0 auto; padding:0px; height:220px; width:300px; float:none; }

.scroll-main-bg {
	width:310px;
	height:200px; 
	position:relative;
	margin:50px 0 0 35px ; 

 
	
}


}


 @media screen and (min-width:320px) and (max-width:640px) and (orientation: landscape) {
	
	
	.blog-post
{
	width:350px !important;
	height:160px !important;
	margin:0 auto;
    padding:0 !important;
	float:none;
	
	


	
}
	.jcarousel-skin-tango .jcarousel-item-horizontal{ padding:20px 20px  !important; height:200px;} 

.scroll-right-butn{ left:370px; }


 }